<div class="container-fluid mt-5">
    {{#each postArr}}
    <div class="row d-flex justify-content-center">
        <div class="col-10 post rounded my-4">
            <a class="title" href="/api/post/{{this.id}}">{{this.title}}</a><span class="owner">by
                {{this.user.username}} on {{this.post_time}}</span>
            <p>{{this.content}}</p>
        </div>
    </div>
    {{/each}}
</div>